h1 {
	background: var(--rules-color);
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.rules-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1250px;
	margin: 10px;
	padding: 0 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: var(--rules-color);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	border-radius: 20px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.rules-container h3 {
	margin: 20px;
	font-size: 50px;
}

.rules-container h4 {
	margin: 0;
	font-size: 25px;
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 70px;
	}

	.rules-container h3 {
		font-size: 40px;
	}
}
