body {
	background-image: url('/images/backgrounds/SeaGDPS1.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.formatted-title {
	background: linear-gradient(135deg, rgba(47, 47, 47, 0.75), rgba(117, 117, 117, 0.75));
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

abbr {
	text-decoration: none;
}

.rules-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(135deg, rgba(47, 47, 47, 0.75), rgba(117, 117, 117, 0.75));
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	width: 85vw;
	margin: 10px;
	padding: 0 20px;
}

.rules-container h3 {
	font-size: 50px;
	margin: 20px;
}

.rules-container h4 {
	font-size: 25px;
	margin: 0;
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 70px;
	}

	.rules-container h3 {
		font-size: 40px;
	}
}
