/* Headings */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	font-size: 100px;
	text-decoration: underline;
	text-underline-offset: 10px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

abbr {
	text-decoration: none;
}

.rules-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(135deg, rgb(47, 47, 47), rgb(117, 117, 117));
	border: 2px dashed white;
	border-radius: 20px;
	width: 85vw;
	margin: 50px 10px;
	padding: 0 20px;
}

.rules-container h3 {
	font-size: 50px;
	margin: 20px;
}

.rules-container h4 {
	font-size: 25px;
	margin: 0;
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 70px;
	}

	.rules-container h3 {
		font-size: 40px;
	}
}
