/* Headings */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: 100px;
	text-decoration: underline;
	text-underline-offset: 10px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

abbr {
	text-decoration: none;
}

.requirements-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(135deg, rgb(91, 22, 152), rgb(116, 0, 255));
	border: 2px dashed white;
	border-radius: 20px;
	max-width: 1250px;
	margin: 50px auto;
	padding-left: 20px;
}

.requirements-container h3 {
	font-size: 50px;
	margin: 10px;
}

.requirements-container h4 {
	font-size: 25px;
	margin: 10px;
}
