/* Headings */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
	font-size: 100px;
	text-decoration: underline;
	text-underline-offset: 10px;
}

/* Sections */
h2 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p, li {
	font-size: 18px;
	margin: 0;
}

.non-victor {
	list-style: circle;
}

ul {
	margin-top: 0;
}

hr {
	font-size: 5px;
}

abbr {
	text-decoration: none;
}

.id {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	margin: 0;
	z-index: 3;
	opacity: 75%;
}

.victors {
	margin-top: 20px;
}

/* Difficulty */
.difficulty {
	z-index: 2;
	transition: transform 0.5s ease;
}

.difficulty[rating="2"] {
	filter: drop-shadow(0 0 3px rgba(255, 255, 0, 0.5));
}

.difficulty[rating="3"] {
	filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.75));
}

.difficulty[rating="4"] {
	filter: drop-shadow(0 0 30px rgb(191, 64, 255));
}

.difficulty[rating="5"] {
	filter: drop-shadow(0 0 45px rgb(0, 255, 255));
}

.level-card {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(135deg, rgb(145, 0, 0), rgb(229, 31, 46));
	border-radius: 20px;
	width: 90vw;
	margin: 20px auto;
	padding: 15px;
	box-shadow: 0 5px 20px 0 rgba(229, 31, 46, 0.5);
	transition: transform 0.2s ease-in-out;
}

.level-card:hover {
	transform: translateY(-2px);
}

.thumbnail-wrapper {
	position: relative;
	width: 30%;
	min-width: 200px;
	aspect-ratio: 16 / 9;
	flex-shrink: 0;
	border-radius: 12px;
	overflow: hidden;
	border: 1px solid white;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.level-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s ease, filter 0.3s ease;
}

.play-button {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.75);
	color: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 25px;
	border: 2px solid white;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
	transition: all 0.3s ease;
	z-index: 2;
}

.level-info {
	flex: 1;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.level-title {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 25px;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.title {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 30px;
	}

	.level-card {
		flex-direction: column;
		width: 85vw;
	}

	.thumbnail-wrapper {
		order: 2;
		width: 50%;
		margin-top: 10px;
	}

	.play-button {
		width: 45px;
		height: 45px;
	}

	.level-info {
		order: 1;
		padding-left: 0;
		width: 100%;
	}

	.level-card p, .level-card li {
		font-size: 17px;
	}

	.difficulty {
		width: 100px;
		height: 100px;
	}
}
