/* Headings */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
	font-size: 100px;
	text-decoration: underline;
	text-underline-offset: 10px;
}

/* Sections */
h2 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p, li {
	font-size: 18px;
	margin: 0;
}

.non-victor {
	list-style: circle;
}

ul {
	margin-top: 0;
}

abbr {
	text-decoration: none;
}

.id {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 15px;
	margin: 0;
	z-index: 3;
	opacity: 75%;
}

.victors {
	margin-top: 20px;
}

/* Difficulty */
.difficulty {
	z-index: 2;
	transition: transform 0.5s ease;
}

.difficulty[rating="2"] {
	filter: drop-shadow(0 0 3px rgba(255, 255, 0, 0.5));
}

.difficulty[rating="3"] {
	animation: epicPulse 3s infinite ease-in-out;
}

.difficulty[rating="4"] {
	animation: legendaryPulse 3s infinite ease-in-out;
}

.difficulty[rating="5"] {
	animation: mythicPulse 3s infinite ease-in-out;
}

@keyframes epicPulse {
	0%, 100% {
		filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.75));
	}
	50% {
		filter: drop-shadow(0 0 10px rgb(255, 255, 0));
	}
}

@keyframes legendaryPulse {
	0%, 100% {
		filter: drop-shadow(0 0 10px rgba(191, 64, 255, 0.75));
	}
	50% {
		filter: drop-shadow(0 0 25px rgb(191, 64, 255));
	}
}

@keyframes mythicPulse {
	0%, 100% {
		filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.75));
	}
	50% {
		filter: drop-shadow(0 0 30px rgb(0, 255, 255));
	}
}

.level-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(135deg, rgb(145, 0, 0), rgb(229, 31, 46));
	border-radius: 20px;
	width: 90vw;
	margin: 20px auto;
	padding: 15px;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 5px 20px 0 rgba(229, 31, 46, 0.5);
	transition: transform 0.2s ease-in-out;
}

.level-card:hover {
	transform: translateY(-2px);
}

.level-thumbnail {
	width: 30%;
	min-width: 200px;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	border-radius: 12px;
	flex-shrink: 0;
	border: 1px solid white;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	transition: transform 0.5s ease;
}

.level-thumbnail:hover {
	transform: scale(1.01);
}

.level-info {
	flex: 1;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.level-title {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 25px;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.title {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 30px;
	}

	.level-card {
		flex-direction: column;
		width: 85vw;
	}

	.level-thumbnail {
		order: 2;
		width: 50%;
		margin-top: 10px;
	}

	.level-info {
		order: 1;
		padding-left: 0;
		width: 100%;
	}

	.level-card p, .level-card li {
		font-size: 17px;
	}

	.difficulty {
		width: 100px;
		height: 100px;
	}
}
