/* Headings */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
	font-size: 100px;
	text-decoration: underline;
	text-underline-offset: 10px;
}

/* Sections */
h2 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	padding: 20px;
}

p, li {
	font-size: 18px;
	margin: 0;
}

.non-victor {
	list-style: circle;
}

ul {
	margin-top: 0;
}

abbr {
	text-decoration: none;
}

.id {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	margin: 0;
	z-index: 3;
}

.victors {
	margin-top: 20px;
}

.difficulty {
	margin: 20px;
}

.level-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(135deg, rgb(145, 0, 0), rgb(229, 31, 46));
	border-radius: 20px;
	width: 90vw;
	margin: 20px auto;
	padding: 15px;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	transition: transform 0.2s ease-in-out;
}

.level-thumbnail {
	width: 30%;
	min-width: 200px;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	border-radius: 12px;
	flex-shrink: 0;
	border: 1px solid white;
}

.level-info {
	flex: 1;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.level-card:hover {
	transform: translateY(-5px);
}

.level-title {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.title {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 25px;
	}

	.level-card p, .level-card li {
		font-size: 17px;
	}

	.difficulty {
		width: 60px;
	}
}
