/* Headings */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	font-size: 100px;
	text-decoration: underline;
	text-underline-offset: 10px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 20px;
	margin: 20px;
}

.title img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	box-shadow: 1px 1px 20px rgb(39, 92, 176);
	transition: all 0.2s ease;
}

.title img:hover {
	transform: rotate(3deg) scale(1.03);
	box-shadow: 0 0 25px rgb(39, 92, 176);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

abbr {
	text-decoration: none;
}

/* Links */
.horizontal-line {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 90vw;
}

main a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	width: 400px;
	text-align: center;
	font-size: 50px;
	border-radius: 20px;
	padding: 15px;
	margin: 10px;
}

.demonlist {
	background: linear-gradient(135deg, rgb(145, 0, 0), rgb(229, 31, 46));
	filter: drop-shadow(0 0 10px rgba(229, 31, 46, 0.5));
}

.rules {
	background: linear-gradient(135deg, rgb(47, 47, 47), rgb(117, 117, 117));
	filter: drop-shadow(0 0 10px rgba(117, 117, 117, 0.5));
}

.requirements {
	background: linear-gradient(135deg, rgb(91, 22, 152), rgb(116, 0, 255));
	filter: drop-shadow(0 0 10px rgba(116, 0, 255, 0.5));
}

.youtube {
	background: linear-gradient(135deg, rgb(206, 0, 0), rgb(255, 55, 71));
	filter: drop-shadow(0 0 10px rgba(255, 55, 71, 0.5));
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 70px;
	}

	.title {
		flex-direction: column;
	}

	.title img {
		width: 100px;
		height: 100px;
	}

	.horizontal-line {
		flex-direction: column;
	}

	main a {
		width: 250px;
		font-size: 35px;
	}
}