/* Headings */
h1 {
	display: inline-flex;
	gap: 25px;
	background: var(--rules-color);
}

.header-top {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	margin: 20px;
}

.header-top img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);
	transition: all 0.2s ease;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

abbr {
	text-decoration: none;
}

/* Links */
.horizontal-line {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

main a, main button {
	text-decoration: none;
	color: white;
	font-weight: bold;
	width: 400px;
	text-align: center;
	font-size: 50px;
	border-radius: 20px;
	padding: 15px;
	margin: 10px;
	cursor: pointer;
}

.demonlist, .rules, .requirements, .stats-viewer, .youtube, .discord {
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.demonlist {
	background: var(--demonlist-color);
}

.rules {
	background: var(--rules-color);
}

.requirements {
	background: var(--requirements-color);
}

.stats-viewer {
	background: var(--stats-viewer-color);
}

.youtube {
	background: var(--youtube-color);
}

.discord {
	background: var(--discord-color);
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 60px;
	}

	.header-top img {
		width: 75px;
		height: 75px;
	}

	.horizontal-line {
		flex-direction: column;
	}

	main a, main button {
		width: 250px;
		font-size: 30px;
	}
}