/* Headings */
h1 {
	display: inline-flex;
	gap: 25px;
	background: var(--rules-color);
}

.header-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-top img {
	height: 1.2em;
	border-radius: 50%;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);
	transition: all 0.2s ease;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Links */
.horizontal-line {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

main a, main button {
	width: 400px;
	margin: 10px;
	padding: 15px;
	border-radius: 20px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.link {
	border: 1px solid rgba(255, 255, 255, 0.2);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#demonlist {
	background: var(--demonlist-color);
}

#rules {
	background: var(--rules-color);
}

#requirements {
	background: var(--requirements-color);
}

#stats-viewer {
	background: var(--stats-viewer-color);
}

#youtube {
	background: var(--youtube-color);
}

#discord {
	background: var(--discord-color);
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 50px;
	}

	.header-top {
		margin: 20px 0;
	}

	.header-top img {
		display: none;
	}

	.horizontal-line {
		flex-direction: column;
	}

	main a, main button {
		width: 250px;
		font-size: 30px;
	}
}
