/* Headings */
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: 100px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 20px;
	margin: 20px;
}

.title img {
	border-radius: 50%;
	box-shadow: 1px 1px 20px rgb(39, 92, 176);
	transition: all 0.2s ease;
}

.title img:hover {
	transform: rotate(3deg) scale(1.03);
	box-shadow: 0 0 25px rgb(39, 92, 176);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

abbr {
	text-decoration: none;
}

/* Links */
main a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	width: 450px;
	text-align: center;
	font-size: 50px;
	border-radius: 20px;
	padding: 15px;
	margin: 10px;
}

.demonlist {
	background: linear-gradient(135deg, rgb(145, 0, 0), rgb(229, 31, 46))
}

.rules {
	background: linear-gradient(135deg, rgb(47, 47, 47), rgb(117, 117, 117))
}

.requirements {
	background: linear-gradient(135deg, rgb(91, 22, 152), rgb(116, 0, 255))
}

.discord {
	background: linear-gradient(135deg, rgb(17, 66, 157), rgb(0, 101, 255))
}
