/* Headings */
h1 {
	display: inline-flex;
	gap: 25px;
	background: linear-gradient(135deg, rgba(47, 47, 47, 0.75), rgba(117, 117, 117, 0.75));
}

.header-top {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	margin: 20px;
}

.header-top img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);
	transition: all 0.2s ease;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

abbr {
	text-decoration: none;
}

/* Links */
.horizontal-line {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 90vw;
}

main a, main button {
	text-decoration: none;
	color: white;
	font-weight: bold;
	width: 400px;
	text-align: center;
	font-size: 50px;
	border-radius: 20px;
	padding: 15px;
	margin: 10px;
	cursor: pointer;
}

.demonlist, .rules, .requirements, .stats_viewer, .youtube, .discord {
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.demonlist {
	background: linear-gradient(135deg, rgba(145, 0, 0, 0.75), rgba(229, 31, 46, 0.75));
}

.rules {
	background: linear-gradient(135deg, rgba(47, 47, 47, 0.75), rgba(117, 117, 117, 0.75));
}

.requirements {
	background: linear-gradient(135deg, rgba(91, 22, 152, 0.75), rgba(116, 0, 255, 0.75));
}

.stats_viewer {
	background: linear-gradient(135deg, rgba(26, 37, 210, 0.75), rgba(66, 78, 194, 0.75));
}

.youtube {
	background: linear-gradient(135deg, rgba(206, 0, 0, 0.75), rgba(255, 55, 71, 0.75));
}

.discord {
	background: linear-gradient(135deg, rgba(88, 101, 242, 0.75), rgba(121, 132, 243, 0.75));
}

/* Mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 60px;
	}

	.header-top img {
		width: 75px;
		height: 75px;
	}

	.horizontal-line {
		flex-direction: column;
	}

	main a, main button {
		width: 250px;
		font-size: 30px;
	}
}